body {
  background-image: url("/assets/brickwall_@2X.png");
  background-repeat: repeat-y repeat-x;
}

#header{
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  margin: 3.5% auto;
}

.canvas-container {
  display: block;
  margin: inherit;
}

.user-input {
  margin-left: 3%;
  display: inline;
}
#nameField {
  border-color: #200;
}
